/*
/_Build_/*
/_Build_/Esenthel/Android
/_Build_/Esenthel/Bin
/_Build_/Esenthel/Debug*
/_Build_/Esenthel/Release*
/_Build_/Esenthel/x64*
/_Build_/Esenthel/Emscripten*
/_Build_/Esenthel/Projects
/_Build_/Esenthel/*.exe
/_Build_/Esenthel/*.dll
/_Build_/Esenthel/Engine.pak
/_Build_/Esenthel/Project.vcproj
/_Build_/Esenthel/Settings.txt

!/_Build_
!/_Build_/Esenthel
!/0btc4f^3zje60097ikj149u0
!/h3kv^1fvcwe4ri0#ll#761m7
!/nop2ha8t22e6eg2!ck1odnk5
!.gitignore